* {
    cursor: progress;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

input {
    margin: 40px;
    display: block;
}

/*text*/
input[type="text"] {
    color: royalblue;
}

input[type="text"]::placeholder {
    color: royalblue;
}

input[type="text"]:focus {
    outline-color: royalblue;
}

/*password*/
input[type="password"] {
    color: red;
}

input[type="password"]::placeholder {
    color: red;
}

input[type="password"] {
    outline: none;
}