/* 
### CATATAN ###
- Untuk menseleksi tag, bisa langsung menuliskan nama tagnya
- Untuk menseleksi class, gunakan "." lalu diikuti dengan nama class-nya
- Untuk menseleksi id, gunakan "#" lalu diikuti dengan nama id-nya
*/

/* Selector Global */
* {
    background-color: black;
}

/* Selector Tag */
p {
    font-family: 'Arial';
    color: red;
}

/* Selector Class */
.class {
    font-family: 'Georgia';
    color: royalblue;
}

/* Selector Id */
#idi {
    font-family: 'Verdana';
    color: turquoise;
}