/* 
### CATATAN ###
- Untuk menseleksi tag, bisa langsung menuliskan nama tagnya
- Untuk menseleksi class, gunakan "." lalu diikuti dengan nama class-nya
- Untuk menseleksi id, gunakan "#" lalu diikuti dengan nama id-nya
*/

/* Selector Global */
/* Selector global dalam CSS adalah selector yang digunakan untuk memilih semua elemen dalam dokumen HTML. Selector global diwakili oleh simbol asterisk (*).
(*) : Ini adalah selector global yang memilih semua elemen di halaman web. */
* {
    background-color: black;
}

/* Selector Tag */
p {
    font-family: 'Arial';
    color: red;
}

/* Selector Class */
.class {
    font-family: 'Georgia';
    color: royalblue;
}

/* Selector Id */
#idi {
    font-family: 'Verdana';
    color: turquoise;
}