/* 
Filter CSS adalah salah satu keunggulan CSS yang dapat digunakan penulis untuk memberi berbagai efek visual (seperti filter Photoshop tetapi untuk browser).

Property filter CSS menyediakan akses ke efek seperti blur atau color shifting warna pada element sebelum element ditampilkan. Filter biasanya digunakan untuk menyesuaikan rendering gambar, latar belakang, atau border.



Berikut adalah jenis-jenis filter pada CSS beserta dengan kegunaannya:

Grayscale   : Mengkonversi element ke grayscale. Nilai “amount” menentukan proporsi konversi. Nilai 100% sepenuhnya grayscale. Nilai 0% tidak akan mengubah element. Nilai antara 0% dan 100% adalah pengganda linier pada efek. Jika parameter “amount” hilang, nilai 100% digunakan. Nilai negatif tidak diizinkan.

Sepia       : Mengkonversi element ke sepia. Nilai “amount” menentukan proporsi konversi. Nilai 100% sepenuhnya sepia. Nilai 0 tidak akan mengubah element. Nilai antara 0% dan 100% adalah pengganda linier pada efek. Jika parameter “amount” hilang, nilai 100% digunakan. Nilai negatif tidak diizinkan.

Saturate    : Mengkonversi element ke saturate. Nilai “amount” menentukan proporsi konversi. Nilai 100% sepenuhnya saturate. Nilai 0 tidak akan mengubah element.

Hue-Rotate  : Menerapkan rotasi hue pada element. Nilai “angle” mendefinisikan jumlah derajat di sekitar lingkaran warna sampel input yang akan disesuaikan. Nilai 0deg tidak akan mengubah apa – apa. Jika parameter “angle” hilang, nilai 0deg digunakan. Nilai maksimumnya adalah 360deg.

Invert      : Membalikkan sampel dalam element. Nilai “amount” menentukan proporsi konversi. Nilai 100% benar-benar terbalik. Nilai 0% tidak akan mengubah apa-apa. Nilai antara 0% dan 100% adalah pengganda linier pada efek. Jika parameter “amount” hilang, nilai 100% digunakan. Nilai negatif tidak diizinkan.

Opacity     : Menerapkan transparansi ke sampel di element. Nilai “amount” menentukan proporsi konversi. Nilai 0% benar-benar transparan. Nilai 100% tidak akan mengubah apa-apa. Nilai antara 0% dan 100% adalah pengganda linier pada efek. Ini sama dengan mengalikan sampel element dengan jumlah. Jika parameter “amount” hilang, maka nilai 100% yang akan digunakan. Nilai negatif tidak diizinkan.

Brightness  : Menerapkan pengganda linear untuk memasukkan element, membuatnya tampak lebih atau kurang terang. Nilai 0% akan membuat element kalian benar-benar hitam. Nilai 100% tidak akan mengubah apa-apa. Nilai lain adalah pengganda linier pada efek. Nilai dari jumlah lebih dari 100% diizinkan, memberikan hasil yang lebih cerah. Jika parameter “amount” hilang, maka nilai 100% yang akan digunakan.

Contrast    : Menyesuaikan kontras input. Nilai 0% akan membuat element yang benar-benar hitam. Nilai 100% tidak mengubah apa-apa. Value lebih dari 100% diizinkan, memberikan hasil dengan kontras yang lebih sedikit. Jika parameter “amount” hilang, maka nilai 100% yang akan digunakan.

Blur        : Filter atu efek untuk membuat element terlihat kabur (blur).

Drop Shadow : Menerapkan efek drop shadow ke element. Drop shadow secara efektif adalah versi offset yang kabur dari element yang digambar dalam warna tertentu, yang dikomposisikan di bawah element. Fungsi ini menerima parameter tipe, dengan pengecualian bahwa kata kunci ‘inset’ tidak diperbolehkan. Property ini mirip dengan property box-shadow; perbedaannya adalah dengan filter, beberapa browser menyediakan akselerasi perangkat keras untuk kinerja yang lebih baik.

### Multiple filter dipisahkan dengan spasi bukan koma (sama seperti multiple transform).

*/

::selection {
    background-color: white;
    color: black;
}

* {
    font-family: 'Montserrat';
}

.blur {
    filter: blur(5px);
}
.brightness {
    filter: brightness(300%);
}
.contrast {
    filter: contrast(500%);
}
.grayscale {
    filter: grayscale(100%);
}
.huerotate {
    filter: hue-rotate(180deg);
}
.invert {
    filter: invert(100%);
}
.opacity {
    filter: opacity(50%);
}
.saturate {
    filter: saturate(7);
}
.sepia {
    filter: sepia(100%);
}
.shadow {
    filter: drop-shadow(8px 8px 10px royalblue);
}