::selection {
    background-color: white;
    color: royalblue;
}

* {
    font-family: 'Montserrat';
}

img {
    width: 100%;
    height: auto;
}
.container {
    position: relative;
}
.tengah {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 20px;
}
.kirbaw {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 20px;
}
.kirtas {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-size: 20px;
}
.kanbaw {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    font-size: 20px;
}
.kantas {
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
    font-size: 20px;
}