::selection {
    background-color: white;
    color: royalblue;
}

* {
    font-family: 'Montserrat';
}

.polaroid {
    width: 200px;
    background-color: royalblue;
}
.container {
    text-align: center;
    color: white;
    padding: 10px;
}