* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

div.gallery {
    margin: 5px;
    border: 2px solid rgb(141, 141, 141);
    float: left;
    width: 180px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery:hover {
    border: 2px solid royalblue;
    box-shadow: 2px 2px 2px 2px rgba(63, 103, 223, 0.2);
}

div.desc {
    text-align: center;
    padding: 10px;
}

div.gallery:hover .desc {
    color: royalblue;
}