* {
    cursor: progress;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

header {
    background-color: royalblue;
    color: white;
    padding: 20px;
    width: 100%;
}

h1 .ram {
    text-indent: 20px;
}

h2 {
    color: white;
    display: none;
}

.setengah {
    background-color: rosybrown;
    color: white;
    padding: 20px;
    width: 50%;
}

.container {
    margin: auto;
    margin-top: 10px;
    width: 95%;
    padding: 30px;
    background-color: royalblue;
    border-radius: 15px;
    color: white;
}

.container .hell {
    width: 100%;
    background-color: rosybrown;
    border-radius: 10px;
    padding: 20px;
}

p {
    margin-top: 20px;
}

.hellang {
    display: none;
}

.pelang {
    display: none;
}

@media screen and (max-width:350px) {
    h1 .ram, h1 {
        display: none;
    }
    h2 {
        display: inline;
    }

    .hell {
        display: none;
    }
    .hellang {
        width: 100%;
        padding: 20px;
        display: inline-block;
        background-color: rosybrown;
        border-radius: 10px;
    }

    p {
        display: none;
    }

    .pelang {
        display: inline-block;
    }
}