* {
    font-family: 'Montserrat';
}

::selection {
    background-color: white;
    color: black;
}

.angin {
    width: 200px;
    word-break: break-all;
    padding: 20px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    transform: rotate(-10deg);
    transition: .5s ease-in-out;
}
.angin:hover {
    transform: rotate(50deg);
}

.dp {
    margin-top: 20px;
    width: 200px;
    word-break: break-all;
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}
.dp:hover {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
    transform: scale(2);
}

.kuncisurga {
    margin-top: 20px;
    width: 200px;
    word-break: break-all;
    background-color: greenyellow;
    color: black;
    padding: 20px;
    border-radius: 10px;
    transform: skewX(-20deg);
    transition: .5s ease-in-out;
}
.kuncisurga:hover {
    background-color: green;
    color: white;
    transform: skewY(20deg);
}

.bbmgratis {
    margin-top: 20px;
    width: 200px;
    word-break: break-all;
    background-color: palevioletred;
    color: paleturquoise;
    padding: 20px;
    border-radius: 10px;
    transform: rotate(20deg);
    transition: .5s ease-in-out;
}
.bbmgratis:hover {
    /* transform: matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()); */
    transform: matrix(1, 0, 0.5, 1, 150, 0);
    background-color: pink;
    color: white;
}