* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

table tr th {
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 15px;
}

table td {
    padding: 8px;
    border-bottom: 1px solid royalblue;
    transition: .2s ease-in-out;
}

td:hover {
    background-color: royalblue;
    color: white;
}
td:not(:hover) {
    color: black;
}

.no {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f3f3f3;
}