* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

/* 
transition: ;
Digunakan untuk membuat perubahan CSS menjadi lebih halus dengan animasi ketika suatu properti berubah nilainya, misalnya saat elemen di-hover atau di-klik.

transition: property duration timing-function delay;

- property: Properti CSS yang akan di-animasi (misalnya width, opacity).
- duration: Waktu animasi dalam detik atau milidetik (misalnya 0.5s).
- timing-function: Fungsi kecepatan animasi, seperti ease, linear, ease-in-out.
- delay: Waktu tunda sebelum animasi dimulai.
*/

header {
    transition: .3s ease-in-out;
    cursor: default;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: royalblue;
}
header:hover {
    color: black;
    background-color: skyblue;
}

div {
    width: 150px;
    height: 150px;
    color: white;
    text-align: center;
}
.satu {
    background-color: cornflowerblue;
}
.satu:hover {
    width: 80%;
}

.dua {
    transition: .5s ease;
    background-color: navy;
}
.dua:hover {
    width: 80%;
}

.tiga {
    background-color: cornflowerblue;
}
.tiga:hover {
    transition: .5s ease-in;
    width: 80%;
}

.empat {
    transition: .5s ease-out;
    background-color: navy;
}
.empat:hover {
    width: 80%;
}

.lima {
    transition: .5s ease-in-out;
    background-color: cornflowerblue;
}
.lima:hover {
    width: 80%;
}

.enam {
    transition: .5s linear;
    background-color: navy;
}
.enam:hover {
    width: 80%;
}

.tujuh {
    transition: .5s linear 3s;
    background-color: cornflowerblue;
}
.tujuh:hover {
    width: 80%;
}

h2, p {
    color: burlywood;
    transition: .3s linear;
}
h2:hover, p:hover {
    color: red;
    font-size: 5rem;
}