* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.luar, .luar2, .luar3 {
    margin: 10px; /*mengatur jarak luar*/
}

.luar {
    margin-bottom: 90px;
    background-color: royalblue;
    width: 150px;
    height: 150px;
}

.luar2 {
    background-color: royalblue;
    width: 150px;
    height: 150px;
}

.luar3 {
    background-color: royalblue;
    width: 150px;
    height: 150px;
}