body {
    background-image: url(philip-oroni-CrJGbb7kzU4-unsplash.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* ### Properti Background ### */
    /* 
    background-size: ;
    Digunakan untuk menentukan seberapa besar gambar latar harus ditampilkan pada elemen.
    
    value:
    - auto: Ukuran gambar latar belakang ditentukan secara otomatis. Gambar ditampilkan dengan ukuran aslinya.
    - cover: Memperbesar atau mengecilkan gambar latar agar menutupi seluruh area elemen, mungkin dengan memotong sebagian gambar.
    - contain: Memperbesar atau mengecilkan gambar agar seluruh gambar muat dalam area elemen tanpa terpotong, namun mungkin akan ada ruang kosong.
    - width height: Menentukan lebar dan tinggi gambar latar secara spesifik (contoh: 100px 50px, 50% 100%).
    */

    /*
    background-position: ;
    Menentukan di mana gambar latar akan ditempatkan dalam elemen. Ini penting untuk memastikan gambar terlihat sesuai posisi yang diinginkan.

    value:
    - left, right, top, bottom: Mengatur posisi gambar di sudut elemen.
    - center: Menempatkan gambar di tengah elemen.
    - x% y%: Mengatur posisi gambar dengan persentase terhadap elemen (contoh: 50% 50% menempatkan gambar di tengah).
    - x-pos y-pos: Mengatur posisi gambar secara spesifik dengan nilai unit seperti px, em, dll. Contoh: 10px 20px.
    */

    /*
    background-repeat: ;
    Digunakan untuk mengontrol pola pengulangan gambar latar pada elemen. Ini memungkinkan Anda menyesuaikan pengulangan sesuai desain.

    - repeat: Mengulang gambar secara horizontal dan vertikal (default).
    - repeat-x: Mengulang gambar hanya secara horizontal.
    - repeat-y: Mengulang gambar hanya secara vertikal.
    - no-repeat: Tidak mengulang gambar, hanya ditampilkan sekali.
    - space: Mengulang gambar dengan menyisakan jarak di antara pengulangan.
    - round: Mengulang gambar dan menskalakannya agar muat secara tepat dalam elemen.
    */

    /* 
    background-attachment: ;
    Mengatur apakah gambar latar akan tetap di tempat atau bergulir bersama elemen. Berguna untuk membuat efek visual menarik seperti gambar latar tetap (parallax).

    - scroll: Gambar latar akan bergulir bersama konten (default).
    - fixed: Gambar latar tetap di tempat saat konten digulir.
    - local: Gambar latar bergulir bersama konten elemen yang menggulir (misalnya pada textarea).
    */
}

h1 {
    background-color: red; /* Memberikan warna background merah pada element */
}

p {
    background-color: royalblue;
}

span {
    background-color: greenyellow;
}



/* 
background-clip: ;
berfungsi untuk menentukan pengisian background pada element html yang memiliki border

property background-clip:
border-box : Value ini berfunsi untuk membuat background mengisi seluruh area pada element tersebut, sehingga background tetap mengisi sampai kebelakang border.
padding-box : Value padding-box akan membuat background hanya mengisi content sampai batas pinggir dalam border, sehingga bagian border tidak diisi oleh background.
content-box : Value content-box diterapkan apabila kalian tidak menginginkan background mengisi seluruh elemen, melainkan hanya kontennya saja.
*/

.border {
    border: 3px dotted black;
    background: salmon;
    padding: 10px;
    margin: 10px;
    background-clip: border-box;
}
.padding {
    border: 3px dotted black;
    background: salmon;
    padding: 10px;
    margin: 10px;
    background-clip: padding-box;
}
.content {
    border: 3px dotted black;
    background: salmon;
    padding: 10px;
    margin: 10px;
    background-clip: content-box;
}


/*
Linear Gradient : Linear Gradient adalah gradient yang berbentuk warna yang berdampingan tapi efeknya sangat lembut. Jadi kedua warna akan terlihat menyatu. Baik itu atas ke bawah atau kiri ke kanan.

Radial Gradient : Radial Gradient adalah warna gradient yang memiliki pusat tengah. jadi seperti membentuk lingkaran dalam pewarnaannya.
*/

.linear-gradient {
    width: 200px;
    height: 200px;
    background: linear-gradient(red, orange);
}

.radial-gradient {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background: radial-gradient(royalblue, skyblue);
}