* {
    cursor: progress;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

input, textarea {
    display: block;
    margin: 10px;
    outline-color: royalblue;
    color: royalblue;
    width: 180px;
    border: 1px solid royalblue;
    border-radius: 3px;
}

textarea {
    resize: none;
}
textarea::placeholder {
    color: royalblue;
}