* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

p:first-child {
    color: red;
}

p::first-letter {
    font-size: 25px;
}

p::before {
    content: url(/cheat-code/_img/favicon.ico);
}

p::after {
    content: url(/cheat-code/_img/favicon.ico);
}

::marker {
    color: royalblue;
}

::selection {
    background-color: red;
    color: white;
}