* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.dalam, .dalam2, .dalam3 {
    margin: 10px; /*mengatur jarak luar*/
    color: white;
    font-weight: bold;
}

.dalam { /*dengan padding*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: royalblue;
}

.dalam2 { /*dengan padding*/
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: royalblue;
}

.dalam3 { /*tanpa padding*/
    width: 150px;
    height: 150px;
    background-color: red;
}