* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    background-image: url('philip-oroni-CrJGbb7kzU4-unsplash.jpg');
    background-size: 100% 100vh;
    /* background-size: auto; Nilai auto akan menghasilkan ukuran otomatis */
    /* background-size: cover; Nilai cover akan menghasilkan ukuran penuh (hanya lebarnya saja) */
    background-size: cover;
    /* background-position: right bottom; */
    background-repeat: no-repeat;
    /* background-repeat: repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-attachment: fixed; backgroundnya akan diam atau tidak bergerak ketika kalian scroll browser */
    /* background-attachment: scroll; | backgroundnya akan tetap mengikuti objek konten di browser */
}

h1 {
    color: royalblue;
}

p {
    color: white;
}