::selection {
    background-color: white;
    color: black;
}

* {
    font-family: 'Montserrat';
}

body {
    text-align: center;
    margin-top: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: royalblue;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: royalblue transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}