* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

header {
    width: 100%;
    color: white;
    background-color: royalblue;
    padding: 10px;
    /* position: fixed; */
}

.column {
    /* margin-top: 58px; */
    float: left;
    padding: 10px;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}

.lorem {
    color: white;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: .5s ease-in-out;
}
.lorem:hover {
    background-color: dodgerblue;
    width: 50%;
}
.lorem:not(:hover) {
    background-color: royalblue;
    width: 100%;
}

.menu {
    width: 25%;
}

.content {
    width: 75%;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    padding: 8px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    transition: .2s ease-in-out;
}

.menu li:hover {
    background-color: royalblue;
}

footer {
    width: 100%;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
}