* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

h1 {
    letter-spacing: -3px;
    text-shadow: 1px 2px 1px rgba(25, 189, 45, 0.8);
    /*1px jarak bayangan vertikal*/
    /*2px jarak bayangan horizontal*/
    /*3px blur*/
    /*rgba warna*/
}

p {
    text-align: left; /*text rata kiri*/
    text-decoration: none; /*dekorasi pada teks*/
    text-transform: lowercase; /*tampilan teks*/
    text-indent: 40px; /*jarak awal pada teks*/
    line-height: 1.6; /*jarak baris*/
    letter-spacing: 1px; /*jarak spasi antar huruf*/
    word-spacing: 10px; /*jarak antar kata*/
}

.dengan {
    text-wrap: nowrap;
}