* {
    cursor: progress;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.ramdani {
    background-color: rgb(90, 130, 245);
    padding: 20px;
    color: rgb(220, 220, 220);
    transition: .9s ease-in-out;
}
.ramdani:hover {
    background-color: blue;
    color: white;
}
.ramdani:not(:hover) {
    background-color: rgb(90, 130, 245);
    color: white;
}

.lingkaran {
    background-color: dodgerblue;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    transition: .9s ease-in-out;
}
.lingkaran:hover {
    background-color: royalblue;
    border-radius: 100%;

}
.lingkaran:not(:hover) {
    background-color: dodgerblue;
}