* {
    font-family: 'Montserrat';
}

.vert {
    writing-mode: vertical-lr;
}

.test {
    width: 300px;
    border: 2px solid black;
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    /* white-space: nowrap; */
    overflow: hidden;
}
.test:hover {
    overflow: visible;
}