html, body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.container {
    width: 80%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'header header header'
        'sidebar sidebar sidebar'
        'content content content'
        'footer footer footer';
}

.item {
    width: 100%;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
}

/* .item:nth-child(even) {
    background-color: salmon;
} */

.header {
    grid-area: header;
    background-color: royalblue;
}

.sidebar {
    grid-area: sidebar;
    background-color: plum;
}

.content {
    grid-area: content;
    background-color: rosybrown;
}

.footer {
    grid-area: footer;
    background-color: greenyellow;
}

/* Responsive Breakpoint */
@media screen and (min-width: 576px) {
    .container {
        grid-template-areas: 
            'header header header'
            'sidebar content content'
            'sidebar content content'
            'footer footer footer';
    }
}