html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr) repeat(5, 1.5fr); */
    /* grid-template-columns: 1fr min-content 1fr; */
    grid-template-columns: 1fr max-content 1fr;
}

.item {
    background-color: skyblue;
    display: grid;
    justify-content: center;
    align-items: center;
}

.item:nth-child(even) {
    background-color: royalblue;
}